* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px; 
}

@media screen and (max-width: 80em) { /* 1280px */
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 60em) { /* 960px */
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 37.5em) { /* 600px */
  html {
    font-size: 7px;
  }
}

body {
  font-size: 1.5rem;
}